
<table class="table table-striped">
    <thead>
        <tr>
          <th (click)="sort('itemName')" style="cursor: pointer">
            Item Name {{ getSortIcon('itemName') }}
          </th>
          <th (click)="sort('bestBefore')" style="cursor: pointer">
            Best Before {{ getSortIcon('bestBefore') }}
          </th>
          <th (click)="sort('quantity')" style="cursor: pointer">
            Quantity {{ getSortIcon('quantity') }}
          </th>
          <th (click)="sort('timeStored')" style="cursor: pointer">
            Time Stored {{ getSortIcon('timeStored') }}
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{ item.itemName }}</td>
      <td>{{ item.bestBefore }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.timeStored }}</td>
      <td>
        <button (click)="updateItem(item.id)" class="btn btn-info">Update</button>
        <button (click)="deleteItem(item.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        <button (click)="itemDetails(item.id)" class="btn btn-info" style="margin-left: 10px">View</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Pagination -->
<nav *ngIf="totalItems > pageSize">
  <ngb-pagination
    [collectionSize]="totalItems"
    [(page)]="currentPage"
    [pageSize]="pageSize"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="onPageChange($event)">
  </ngb-pagination>
</nav>

